*~
/_build
__pycache__
/_build-cmake
/node_modules
/trainings/material/soup/python-variables-basic-datatypes/names-objects-types.svg
/trainings/log/detail/2020-05-18/code/joerg/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/trainings/material/soup/python.0140-variables/0140-variables-datatypes-basic.svg
