[submodule "trainings/material/soup/linux/toolchain/jfasch-home-linux-toolchain"]
	path = trainings/material/soup/linux/toolchain/jfasch-home-linux-toolchain
	url = git@github.com:jfasch/jfasch-home-linux-toolchain.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "googlebenchmark"]
	path = googlebenchmark
	url = https://github.com/google/benchmark
[submodule "trainings/material/soup/linux/sysprog/code/blink"]
	path = trainings/material/soup/linux/sysprog/code/blink
	url = git@github.com:jfasch/blink.git
[submodule "foreign/cmake-subdirs-structure-dependencies"]
	path = foreign/cmake-subdirs-structure-dependencies
	url = git@github.com:jfasch/cmake-subdirs-structure-dependencies.git
[submodule "foreign/cmake-function-add-library"]
	path = foreign/cmake-function-add-library
	url = git@github.com:jfasch/cmake-function-add-library.git
