*~
/_build
__pycache__
/_build-cmake
/node_modules
/trainings/material/soup/python-variables-basic-datatypes/names-objects-types.svg
/trainings/material/soup/python.0140-variables/0140-variables-datatypes-basic.svg
.ipynb_checkpoints