body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* these serve as defaults for most elements. overridden where
       necessary. */
    font-size: 12px;
    color: #6f6f6f;

    /* background image over the entire page */
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-color: #FFF;
    background-attachment: fixed;
}

/* MENU STYLE ------------------------------------------*/
/* settings for menu <ul> and all descendants */

ul.menu {
    margin: 0;
    padding: 0;
}

ul.menu * {
    margin: 0;
    padding: 0;
    line-height: 180%;

    /* we generate "list style" ("&gt", "&raquo") in the source text,
       unfortunately */
    list-style-type: none;
}

ul.menu a {
    /* override default anchor style. menu links need not be made
       explicitly visible - the user knows anyway. */
    text-decoration: none;
    color: #6f6f6f;
}

/* all nested entries (li somewhere inside li, somewhere inside
   ul.menu) add up their left padding to the containing
   element's. this gives nice and simple indentation. */
ul.menu li li {
    padding-left: 17px;
}

/* nodes on the menu path to the current page */
ul.menu .on-menu-path a {
    font-style: italic;
}

/* the "active" (current) page, as well as those that could become
   active (-> hover) */
ul.menu .active, ul.menu a:hover {
    color: #233e73;
    font-weight: bold;
}

/* BREADCRUMBS STYLE ------------------------------------------*/
.breadcrumbs {
    padding-top:15px;
    font-size:9px;
}

.breadcrumbs a {
    text-decoration: none;
    /* override default anchor color (breadcrumb links need not be made
       explicit - anybody knows) */
    color: #6f6f6f;
}

/* CONTENT STYLE ------------------------------------------*/

.content h1 {
    font-size: 39px;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #233e73;
}

.content h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 25px;
    /* line-height:100%; */
    letter-spacing: -1px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    color: #233e73;
}

.content h3 {
    font-size: 16px;
    font-weight: normal;
    /* line-height: 40px; */
    letter-spacing: -1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #233e73;
}

/* jjj maybe we should mark visited links? */
.content a {
    color: #198289;
}

.content ul {
    padding-left: 15px;
}

.content img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    border: 1px solid #b1b1b1;
}

.content pre {
    border: 1px dashed #E1E1E1;
    color: #333344;
    background: #fafafa;
    font-family: monospace;
    overflow: auto;
    font-size: 11px;
    padding: 0.5em;
}

/* COPYRIGHT STYLE ------------------------------------------*/

/* "copyright" is a list of items, which need not necessarily be laid
   out as a list. one item after the other, giving various information
   about the site's creator(s).
   */
.copyright a {
    color: #198289;
}

.copyright {
    margin: 0;
    padding: 0;
    font-size: 10px;
    list-style-type: none;
}



/* POSITIONING -------------------------------*/

#left-column-box {
    position: absolute; 

    height: 100%;
    top: 0;
    left: 0;
    width: 230px;

    margin-left: 30px;

    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#left-column-box #logo-box {
    width: 100%;
}

/* menu comes right below the left header image */
#left-column-box #menu-box {
    padding-top: 30px;
}

/* copyright box comes at the bottom */
#left-column-box #copyright-box {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}


#right-column-box {
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%;
    left: auto;
    width: 260px;

    overflow: hidden;
}
#right-column-box #logo-box {
    /* this is the size of the image that it carries - is this good
       practice? */
    width: 230px;
    height: 126px;

    /* hack; to be removed once I have the language image right. people
       say IE doesn't get "display: table-cell" right, I don't
       care. */
    vertical-align: bottom;
    display: table-cell;
}


/* CONTEXT AREA ------------------------------------------------*/
#right-column-box #context-box {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 30px;
    /* border: 1px solid green; */
}

/* course box */
#right-column-box #context-box #course-box {
    background-color: #f0f3f8;
    padding: 10px;

    /* for debugging */
    /* border: 1px solid red; */
}
#right-column-box #context-box #course-box h1 {
    font-size: 16px;
    text-transform: uppercase;
}

/* OSS box */
#right-column-box #context-box #oss-box {
    background-color: #f0f3f8;
    padding: 10px;
}
#right-column-box #context-box #oss-box ul.facts {
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 15px;
}
#right-column-box #context-box #oss-box ul.toc {
    padding-left: 15px;
}
#right-column-box #context-box #oss-box h1 {
    font-size: 16px;
    text-transform: uppercase;
}
#right-column-box #context-box #oss-box a {
    text-decoration: none;
    color: #6f6f6f;
}


#middle-header-box {
    position: absolute;
    top: 0;
    left: 230px;
    right: 260px;
    width: auto;
    height: 50px;

    overflow: hidden;
    
    /* I know that there's only one line (the breadcrumbs) inside, so I
       apply padding right here in the box. not pretty, code-wise, but
       anyway. */
    padding-top: 15px;
    padding-left: 15px;
}

#middle-content-box {
    position: fixed;
    top: 50px;
    left: 230px;
    right: 250px;
    bottom: 0;

    margin-left: 25px;
    margin-right: 25px;
    overflow: auto; 
}


#main-page {
    margin-top: 40px;
}
#main-page h1 {
    text-align: center;
}
#main-page table th {
    padding-left: 15px;
    font-size: 28px;
    /* border: 1px solid green; */
}
#main-page table th, #main-page table td {
    text-align: left;
    width: 33%;
}
#main-page table tr.text td {
    padding-left: 15px;
    padding-right: 20px;
    vertical-align: top;
    /* padding: 10px; */
}
#main-page table tr.images td {
    text-align: center;
}
#main-page table img {
    width: 80%;
    height: auto;
    /* border: 1px solid red; */

    /* we have image borders from the general text styles; disable that
       here. */
    border: none;
}

/* jjj nix verstehen */

* html body { /*IE6 hack*/
    padding: 120px 150px 0 200px; /*Set value to (HeightOfTopFrameDiv WidthOfRightFrameDiv 0 WidthOfLeftFrameDiv)*/
}

* html #middle-content-box { /*IE6 hack*/
    height: 100%; 
    width: 100%; 
}

* html #middle-header-box { /*IE6 hack*/
    width: 100%;
}
