body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
}

#framecontentLeft, #framecontentRight{
    position: absolute; 
    height: 100%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#framecontentLeft {
    top: 0;
    left: 0;
    width: 200px;

    background: yellow;
}

#framecontentRight{
    top: 0;
    right: 0; 
    left: auto;
    width: 150px;

    background: lightgreen;
}

#framecontentTop{
    position: absolute;
    top: 0;
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 150px; /*Set right value to WidthOfRightFrameDiv*/
    width: auto;
    height: 50px; /*Height of top frame div*/
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background: lightblue;
    color: white;
}

#maincontent{
    position: fixed; 
    top: 50px; /*Set top value to HeightOfTopFrameDiv*/
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 150px; /*Set right value to WidthOfRightFrameDiv*/
    bottom: 0;
    overflow: auto; 
    background: #fff;
}

.innertube{
    margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body{ /*IE6 hack*/
    padding: 120px 150px 0 200px; /*Set value to (HeightOfTopFrameDiv WidthOfRightFrameDiv 0 WidthOfLeftFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
    height: 100%; 
    width: 100%; 
}

* html #framecontentTop{ /*IE6 hack*/
    width: 100%;
}
