body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* these serve as defaults for most elements. overridden where
       necessary. */
    font-size: 13px;
    color: #6f6f6f;

    /* background image over the entire page */
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-color: #FFF;
    background-attachment: fixed;
}

/* SITE-WIDE HEADING STYLES --------------------------- */
h1 {
    font-size: 35px;
    font-weight: normal;
    /* line-height: 40px; */
    /* line-height: 100%; */
    letter-spacing: -1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #233e73;
}
h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 25px;
    /* line-height:100%; */
    letter-spacing: -1px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    color: #233e73;
}
h3 {
    font-size: 16px;
    font-weight: normal;
    /* line-height: 40px; */
    letter-spacing: -1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #233e73;
}

/* MENU STYLE ------------------------------------------*/

/* settings for menu <ul> and all descendants */

ul.menu {
    margin: 0;
    padding: 0;
}

ul.menu * {
    margin: 0;
    padding: 0;
    line-height: 180%;

    /* we generate "list style" ("&gt", "&raquo") in the source text,
       unfortunately */
    list-style-type: none;
    text-decoration: none;
}

ul.menu a {
    color: #6f6f6f;
}

/* all nested entries (li somewhere inside li, somewhere inside
   ul.menu) add up their left padding to the containing
   element's. this gives nice and simple indentation. */
ul.menu li li {
    padding-left: 17px;
}

/* nodes on the menu path to the current page */
ul.menu .on-menu-path a {
    font-style: italic;
}

/* the "active" (current) page, as well as those that could become
   active (-> hover) */
ul.menu .active, ul.menu a:hover {
    color: #233e73;
    font-weight: bold;
}

/* BREADCRUMBS STYLE ------------------------------------------*/
.breadcrumbs a {
    text-decoration: none;
    color: #6f6f6f;
}

/* POSITIONING AND SUCH -------------------------------*/

#framecontentLeft {
    position: absolute; 
    height: 100%;
    top: 0;
    left: 0;
    width: 200px;
    
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#framecontentRight {
    position: absolute; 
    height: 100%;
    top: 0;
    right: 0; 
    left: auto;
    width: 150px;

    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#framecontentTop {
    position: absolute;
    top: 0;
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 150px; /*Set right value to WidthOfRightFrameDiv*/
    width: auto;
    height: 50px; /*Height of top frame div*/

    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}



#maincontent {
    position: fixed; 
    top: 50px; /*Set top value to HeightOfTopFrameDiv*/
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 150px; /*Set right value to WidthOfRightFrameDiv*/
    bottom: 0;

    overflow: auto; 
}

#maincontent pre {
    border: 1px dashed #E1E1E1;
    color: #333344;
    background: #fafafa;
    font-family: monospace;
    overflow: auto;
    font-size: 11px;
    padding: 0.5em;
}



.innertube {
    margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}



/* nix verstehen */

* html body { /*IE6 hack*/
    padding: 120px 150px 0 200px; /*Set value to (HeightOfTopFrameDiv WidthOfRightFrameDiv 0 WidthOfLeftFrameDiv)*/
}

* html #maincontent { /*IE6 hack*/
    height: 100%; 
    width: 100%; 
}

* html #framecontentTop { /*IE6 hack*/
    width: 100%;
}
