---
title: "Home"
target_name: home
tags:
- consulting
- linux
---

<div id="main-page">

  <h1>Linux und Open Source</h1>

  <table>

    <tr>
      <th>Entwicklung</th>
      <th>Schulung</th>
      <th>Beratung</th>
    </tr>

    <tr class="text">

      <td>
	
	<p>Programmieren ist mein Hauptbetätigungsfeld. Ich biete
	  verschiedene Dienstleistungen an, die sich im Wesentlichen
	  um folgende "Hard Facts" ansiedeln.</p>

	<ul>
	  <li>Systemnahe Softwareentwicklung</li>
	  <li>Portierung nach Linux</li>
	  <li>Server- und Embeddedentwicklung</li>
	  <li>Multithreading und Realtime</li>
	  <li>Hardwareintegration</li>
	  <li>Driverentwicklung</li>
	  <li>Übertragungsprotokolle</li>
	  <li>Anpassungen und Fixes in Open-Source-Paketen</li>
	  <li>Rootfilesystem-Entwicklung</li>
	</ul>

       </td>

      <td>

	<p>Passend zu vielen meiner Themen aus der Entwicklung biete
	  ich auch <%= link_to_name('Schulungen', 'courses') %>
	  an.</p>

	<ul>
	  <li><%= link_to_name('Einführung in Linux',
		  'courses-linux-basics') %> für Ein- und
		  Umsteiger</li>
	  <li><%= link_to_name('Programmiersprachen',
		  'courses-programming') %> in Linux und darüber
		  hinaus</li>
	  <li><%= link_to_name('Systemnahe und Embedded Programmierung',
		  'courses-sysprog') %> für Fortgeschittene
		  Programmierer</li>
	  <li><%= link_to_name('Weiterführende Themen',
		  'courses-misc') %></li>
	</ul>

      </td>

      <td>

	<p>Meine Dienstleistungen umfassen auch Beratung und
	  Durchführung in begleitenden Disziplinen wie</p>

	<ul>
	  <li>Versionskontrolle und Releasemanagement</li>
	  <li>Buildmanagement</li>
	  <li>Unittests</li>
	  <li>OO Analyse und Design</li>
	</ul>

      </td>

    </tr>

  </table>

</div>
