---
title: "Home"
target_name: home
tags:
- consulting
- linux
---

<div id="main-page">

  <h1>Linux und Open Source</h1>

  <table>

    <tr>
      <th>Entwicklung</th>
      <th>Schulung</th>
      <th>Beratung</th>
    </tr>

    <tr class="text">

      <td>
	
	<p>Programmieren ist mein Hauptbetätigungsfeld. Ich biete
	  verschiedene Dienstleistungen an, die sich im Wesentlichen
	  um folgende "Hard Facts" ansiedeln.</p>

	<ul>
	  <li>Systemnahe Softwareentwicklung</li>
	  <li>Portierung nach Linux</li>
	  <li>Server- und Embeddedentwicklung</li>
	  <li>Multithreading und Realtime</li>
	  <li>Hardwareintegration</li>
	  <li>Übertragungsprotokolle</li>
	  <li>Anpassungen und Fixes in Open-Source-Paketen</li>
	  <li>Rootfilesystem-Entwicklung</li>
	</ul>

       </td>

      <td>

	<p>Passend zu vielen meiner Themen aus der Entwicklung biete
	  ich auch <%= link_to_name('Schulungen', 'courses') %>
	  an.</p>

	<p>Verschiedenes um <%= link_to_name('Systemnahe
	  Programmierung unter Linux', 'courses-sysprog') %>:</p>

	<ul>
	  <li><%= link_to_name('Linux Grundlagen',
		  'course-system-basics') %></li>
	  <li><%= link_to_name('Multithreading',
		  'course-multithreading') %></li>
	  <li><%= link_to_name('Netzwerk-Programmierung',
		  'course-network') %></li>
	  <li><%= link_to_name('Fortgeschrittene Themen',
		  'course-advanced') %></li>
	  <li><%= link_to_name('Embedded Linux',
		  'course-embedded') %></li>
	</ul>

	<p>Weitere Schulungsthemen umfassen:</p>

	<ul>
	  <li><%= link_to_name('Softwareentwicklung unter Linux für
		  Nicht-Linuxer', 'course-kettner-swd') %></li>
	  <li><%= link_to_name('Linux from Scratch',
		  'course-kettner-lfs') %></li>
	  <li><%= link_to_name('Einführung in Subversion',
		  'course-svn') %></li>
	  <li><%= link_to_name('Einführung in Python',
		  'course-kettner-python') %></li>
	</ul>

      </td>

      <td>

	<p>Meine Dienstleistungen umfassen natürlich auch Beratung und
	  Durchführung in begleitenden Disziplinen wie</p>

	<ul>
	  <li>Versionskontrolle und Releasemanagement</li>
	  <li>Buildmanagement</li>
	  <li>Unittests</li>
	  <li>OO Analyse und Design</li>
	</ul>

      </td>

    </tr>

  </table>

</div>
